<div class="mb-5 mt-5 text-center">
  <h1 class="cover-heading mt-5 mb-5">Cassava Map Visualization App</h1>
  <p class="lead">
    This app displays the Cassava production volume by countries using a data
    from GeoTIFF & GeoJSON files.
  </p>
  <p>
    This data has been extracted and overlayed onto an Open Street Map using
    various tools such as the Leaflet SDK to display the relevant informaiton in
    a user friendly way.
  </p>
  <p class="lead">
    <a href="/cassava" class="btn btn-lg btn-secondary">
      Cassava Production Map
    </a>
  </p>
</div>
