<body>
  <div class="cover-container mb-5 d-flex p-3 mx-auto flex-column">
    <header class="masthead mb-5 text-center">
      <div class="inner">
        <h3 class="masthead-brand">Agriculture Production App</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/home">Home</a>
          <a class="nav-link" href="/cassava">Cassava Production Map</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <router-outlet />
    </main>

    <footer class="mt-auto">
      <div class="inner"></div>
    </footer>
  </div>
</body>
